<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>3004</integer>
	<real>3067</real>
	<integer>3112</integer>
	<integer>3092</integer>
	<integer>3111</integer>
	<integer>3109</integer>
	<integer>3221</integer>
	<integer>3453</integer>
	<integer>3390</integer>
	<real>3121</real>
	<integer>3087</integer>
	<integer>3109</integer>
	<integer>3122</integer>
	<integer>3079</integer>
	<integer>3440</integer>
	<integer>2918</integer>
	<real>3572</real>
	<real>3421</real>
	<integer>3259</integer>
	<integer>3129</integer>
	<integer>3329</integer>
	<integer>3412</integer>
	<real>2917</real>
	<integer>2987</integer>
	<integer>2990</integer>
	<real>3555</real>
	<integer>3258</integer>
	<integer>3367</integer>
	<real>3333</real>
	<real>3330</real>
	<integer>3330</integer>
	<integer>3280</integer>
	<integer>3120</integer>
	<integer>3220</integer>
	<integer>3090</integer>
	<integer>3210</integer>
	<integer>3050</integer>
	<integer>2980</integer>
	<integer>3252</integer>
	<integer>3381</integer>
	<integer>2910</integer>
	<integer>2972</integer>
	<integer>3380</integer>
	<integer>3425</integer>
	<integer>3258</integer>
	<integer>3390</integer>
	<integer>3003</integer>
	<integer>3451</integer>
	<integer>2971</integer>
	<integer>3112</integer>
</array>
</plist>
