<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>321.51</real>
		<real>302.51</real>
		<real>315.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>350.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>302.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>322.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>383.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>341.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>279.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>300.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>322.12</real>
		<real>333.11</real>
		<real>254.22</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>300.11</real>
		<real>354.21</real>
		<real>344.12</real>
	</array>
	<array>
		<real>333.12</real>
		<real>200.97</real>
		<real>222.11</real>
		<real>309.51</real>
		<real>324.32</real>
		<real>264.32</real>
		<real>287.33</real>
	</array>
	<array>
		<real>333.12</real>
		<real>300.97</real>
		<real>312.11</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
		<real>309.51</real>
	</array>
</array>
</plist>
