<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>13</integer>
		<integer>12</integer>
	</array>
	<array>
		<integer>11</integer>
		<integer>9</integer>
	</array>
	<array>
		<integer>9</integer>
		<integer>7</integer>
	</array>
	<array>
		<integer>6</integer>
		<integer>8</integer>
	</array>
	<array>
		<integer>13</integer>
		<integer>8</integer>
	</array>
	<array>
		<integer>4</integer>
		<integer>8</integer>
	</array>
	<array>
		<integer>5</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>3</integer>
		<integer>9</integer>
	</array>
	<array>
		<integer>6</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>-3</integer>
		<integer>2</integer>
	</array>
	<array>
		<integer>2</integer>
		<integer>7</integer>
	</array>
</array>
</plist>
