<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>1</integer>
		<real>0.5</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<string>1</string>
		<string>0.3</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.35</string>
	</array>
	<array>
		<string>1</string>
		<string>0.65</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.45</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.75</string>
	</array>
	<array>
		<string>1</string>
		<string>1.5</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.75</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.64</string>
	</array>
	<array>
		<string>1</string>
		<string>0.47</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.29</string>
	</array>
	<array>
		<string>0</string>
		<string>0.35</string>
	</array>
	<array>
		<string>1</string>
		<string>0.3</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.6</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.4</string>
	</array>
	<array>
		<string>1</string>
		<string>0.35</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
	<array>
		<string>1</string>
		<string>0.4</string>
	</array>
	<array>
		<string>0</string>
		<string>0.</string>
	</array>
	<array>
		<string>1</string>
		<string>0.1</string>
	</array>
	<array>
		<string>0</string>
		<string>0.7</string>
	</array>
	<array>
		<string>0</string>
		<string>0.5</string>
	</array>
	<array>
		<string>1</string>
		<string>0.6</string>
	</array>
	<array>
		<string>1</string>
		<string>0.3</string>
	</array>
	<array>
		<string>1</string>
		<string>0.8</string>
	</array>
	<array>
		<string>0</string>
		<string>0.4</string>
	</array>
	<array>
		<string>1</string>
		<string>0.6</string>
	</array>
	<array>
		<string>0</string>
		<string>0.1</string>
	</array>
</array>
</plist>
